Node RED
[
    {
        "id": "94f47cb54d729cc7",
        "type": "tab",
        "label": "流程 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "47fddedababff253",
        "type": "mqtt in",
        "z": "94f47cb54d729cc7",
        "name": "A",
        "topic": "AIR2324_ParkingSpaceSituation1",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "b8abdeb9a02ce7b8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 50,
        "y": 60,
        "wires": [
            [
                "ccfe38d353c04bf3"
            ]
        ]
    },
    {
        "id": "9b963db61d28f666",
        "type": "simpletime",
        "z": "94f47cb54d729cc7",
        "name": "",
        "mydate": true,
        "myymd": true,
        "myyear": true,
        "mymonth": true,
        "mymonthn": true,
        "mymonthf": true,
        "mydom": true,
        "mydoy": true,
        "myday": true,
        "mydayf": true,
        "myhourpm": true,
        "myhour": true,
        "mytime": true,
        "mytimes": true,
        "myminute": true,
        "myminutes": true,
        "mysecond": true,
        "mymillis": true,
        "myepoch": true,
        "myrawdate": true,
        "mypm": true,
        "x": 330,
        "y": 540,
        "wires": [
            [
                "42e2b1a2fc095188"
            ]
        ]
    },
    {
        "id": "b2442ff42da44c7a",
        "type": "inject",
        "z": "94f47cb54d729cc7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "9b963db61d28f666"
            ]
        ]
    },
    {
        "id": "42e2b1a2fc095188",
        "type": "function",
        "z": "94f47cb54d729cc7",
        "name": "function 2",
        "func": "var payload=msg; \nvar dateStr=payload.mydate; \nvar tempstr=dateStr.split(\" \");\nvar strobj=Object.assign({},tempstr); \nvar hzweekday,hzmonth; \nvar weekday=strobj[0]; \nvar month=strobj[1]; \nvar day=strobj[2]; \nvar year=strobj[3]; \n\nswitch(weekday){ \n    case \"Mon\":\n     hzweekday=\"-(Mon)-\"; \n     break; \n    case \"Tue\": \n     hzweekday=\"-(Tue)-\"; \n     break; \n    case \"Wed\": \n     hzweekday=\"-(Wed)-\"; \n     break; \n    case \"Thu\": \n     hzweekday=\"-(Thu)-\"; \n     break; \n    case \"Fri\": \n     hzweekday=\"-(Fri)-\"; \n     break; \n    case \"Sat\": \n     hzweekday=\"-(Sat)-\"; \n     break; \n    case \"Sun\": \n     hzweekday=\"-(Sun)-\"; \n     break; \n    default:\n     break; \n} \nswitch(month){ \n    case \"Jan\":\n       hzmonth=\"1-\";\n       break; \n    case \"Feb\": \n       hzmonth=\"2-\";\n        break; \n    case \"Mar\": \n       hzmonth=\"3-\"; \n       break; \n    case \"Apr\": \n       hzmonth=\"4-\";\n       break; \n    case \"May\": \n       hzmonth=\"5-\"; \n       break; \n     case \"Jun\":\n        hzmonth=\"6-\";\n        break;\n     case \"Jul\":\n        hzmonth=\"7-\"; \n        break; \n    case \"Aug\": \n        hzmonth=\"8-\"; \n        break; \n    case \"Sept\": \n        hzmonth=\"9-\"; \n        break; \n    case \"Sep\": \n        hzmonth=\"9-\"; \n        break; \n    case \"Oct\": \n        hzmonth=\"10-\"; \n        break; \n    case \"Nov\": \n        hzmonth=\"11-\"; \n        break; \n    case \"Dec\": \n        hzmonth=\"12-\"; \n        break; \n    default: \n        break; \n} \nmsg.payload=year+\"-\"+hzmonth+day+hzweekday+payload.mytimes; \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 540,
        "wires": [
            [
                "bc29c279d82e261a"
            ]
        ]
    },
    {
        "id": "bc29c279d82e261a",
        "type": "ui_text",
        "z": "94f47cb54d729cc7",
        "group": "49a80110ba38995f",
        "order": 16,
        "width": 14,
        "height": 1,
        "name": "",
        "label": "Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 710,
        "y": 540,
        "wires": []
    },
    {
        "id": "ccfe38d353c04bf3",
        "type": "ui_template",
        "z": "94f47cb54d729cc7",
        "group": "49a80110ba38995f",
        "name": "spot1",
        "order": 1,
        "width": 2,
        "height": 2,
        "format": "<div style=\"width: 70px; height: 70px; border: 1px solid #000;\">\n    <span style=\"width: 20px; margin-right: 4px;\">spot1</span>\n    <div ng-style=\"{'background-color': msg.payload ? 'green' : 'transarent' }\" style=\"width: 100%; height: 100%;\"></div>\n</div>\n\n<style>\n    .parking-spot {\n        width: 70px;\n        height: 70px;\n        border: 1px solid #000;\n        margin: 5px;\n        display: inline-block;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 250,
        "y": 60,
        "wires": [
            [
                "c7b7359534402fd7"
            ]
        ]
    },
    {
        "id": "c7b7359534402fd7",
        "type": "debug",
        "z": "94f47cb54d729cc7",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 40,
        "wires": []
    },
    {
        "id": "ea908a82cd474aab",
        "type": "mqtt in",
        "z": "94f47cb54d729cc7",
        "name": "A",
        "topic": "AIR2324_ParkingSpaceSituation3",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "b8abdeb9a02ce7b8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 240,
        "wires": [
            [
                "a31c52c2088a0310"
            ]
        ]
    },
    {
        "id": "fa6aa8a174c60567",
        "type": "mqtt in",
        "z": "94f47cb54d729cc7",
        "name": "A",
        "topic": "AIR2324_ParkingSpaceSituation5",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "b8abdeb9a02ce7b8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 380,
        "wires": [
            [
                "43f722086222e45a"
            ]
        ]
    },
    {
        "id": "b87e92fd62cdd733",
        "type": "mqtt in",
        "z": "94f47cb54d729cc7",
        "name": "A",
        "topic": "AIR2324_ParkingSpaceSituation4",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "b8abdeb9a02ce7b8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 280,
        "wires": [
            [
                "cafa6468a4262e6d"
            ]
        ]
    },
    {
        "id": "c3bfccbc04e738af",
        "type": "mqtt in",
        "z": "94f47cb54d729cc7",
        "name": "A",
        "topic": "AIR2324_ParkingSpaceSituation2",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "b8abdeb9a02ce7b8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 180,
        "wires": [
            [
                "97b4a009bca27789"
            ]
        ]
    },
    {
        "id": "c98f51f18a27ff0e",
        "type": "debug",
        "z": "94f47cb54d729cc7",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "68f730c3aaf31547",
        "type": "debug",
        "z": "94f47cb54d729cc7",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 280,
        "wires": []
    },
    {
        "id": "5a94262d32307f53",
        "type": "debug",
        "z": "94f47cb54d729cc7",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 380,
        "wires": []
    },
    {
        "id": "f182b43da077f3c3",
        "type": "debug",
        "z": "94f47cb54d729cc7",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 220,
        "wires": []
    },
    {
        "id": "051012d65bef0ed9",
        "type": "mqtt in",
        "z": "94f47cb54d729cc7",
        "name": "A",
        "topic": "AIR2324_ParkingSpaceSituation6",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "b8abdeb9a02ce7b8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 480,
        "wires": [
            [
                "aa1b60c0c805f70c",
                "465cc9dca7d7c889"
            ]
        ]
    },
    {
        "id": "2b753d6aa0f3bc36",
        "type": "ui_text",
        "z": "94f47cb54d729cc7",
        "group": "49a80110ba38995f",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "parking space remaining",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 550,
        "y": 480,
        "wires": []
    },
    {
        "id": "aa1b60c0c805f70c",
        "type": "function",
        "z": "94f47cb54d729cc7",
        "name": "function 3",
        "func": "if(msg.payload==1)\n msg.payload=\"full\"\nelse\n msg.payload=\"null\"\n return msg;",
        "outputs": 1,
        "timeout": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 480,
        "wires": [
            [
                "2b753d6aa0f3bc36"
            ]
        ]
    },
    {
        "id": "43f722086222e45a",
        "type": "ui_template",
        "z": "94f47cb54d729cc7",
        "group": "49a80110ba38995f",
        "name": "parking space2",
        "order": 9,
        "width": 2,
        "height": 2,
        "format": "<div style=\"width: 70px; height: 70px; border: 1px solid #000;\">\n   <span style=\"width: 20px; margin-right: 4px;\">lab5</span>\n    <div ng-style=\"{ 'background-color': msg.payload ? 'black' : 'transparent' }\" style=\"width: 70%; height: 70%;\"></div>\n</div>\n\n<style>\n    .parking-spot {\n        width: 50px;\n        height: 50px;\n        border: 1px solid #000;\n        margin: 5px;\n        display: inline-block;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 280,
        "y": 380,
        "wires": [
            [
                "5a94262d32307f53"
            ]
        ]
    },
    {
        "id": "cafa6468a4262e6d",
        "type": "ui_template",
        "z": "94f47cb54d729cc7",
        "group": "49a80110ba38995f",
        "name": "parking space4",
        "order": 7,
        "width": 2,
        "height": 2,
        "format": "<div style=\"width: 70px; height: 70px; border: 1px solid #000;\">\n    <span style=\"width: 20px; margin-right: 4px;\">lab4</span>\n    <div ng-style=\"{ 'background-color': msg.payload ? 'black' : 'transparent' }\" style=\"width: 70%; height: 70%;\"></div>\n</div>\n\n<style>\n    .parking-spot {\n        width: 50px;\n        height: 50px;\n        border: 1px solid #000;\n        margin: 5px;\n        display: inline-block;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 260,
        "y": 280,
        "wires": [
            [
                "68f730c3aaf31547"
            ]
        ]
    },
    {
        "id": "a31c52c2088a0310",
        "type": "ui_template",
        "z": "94f47cb54d729cc7",
        "group": "49a80110ba38995f",
        "name": "parking space1",
        "order": 5,
        "width": 2,
        "height": 2,
        "format": "<div style=\"width: 70px; height: 70px; border: 1px solid #000;\">\n    <span style=\"width: 20px; margin-right: 4px;\">lab3</span>\n    <div ng-style=\"{ 'background-color': msg.payload ? 'black' : 'transparent' }\" style=\"width: 70%; height: 70%;\"></div>\n</div>\n\n<style>\n    .parking-spot {\n        width: 50px;\n        height: 50px;\n        border: 1px solid #000;\n        margin: 5px;\n        display: inline-block;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "f182b43da077f3c3"
            ]
        ]
    },
    {
        "id": "97b4a009bca27789",
        "type": "ui_template",
        "z": "94f47cb54d729cc7",
        "group": "49a80110ba38995f",
        "name": "parking space5",
        "order": 3,
        "width": 2,
        "height": 2,
        "format": "<div style=\"width: 70px; height: 70px; border: 1px solid #000;\">\n    <span style=\"width: 20px; margin-right: 4px;\">lab2</span>\n    <div ng-style=\"{ 'background-color': msg.payload ? 'black' : 'transparent' }\" style=\"width: 70%; height: 70%;\"></div>\n</div>\n\n<style>\n    .parking-spot {\n        width: 50px;\n        height: 50px;\n        border: 1px solid #000;\n        margin: 5px;\n        display: inline-block;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 320,
        "y": 160,
        "wires": [
            [
                "c98f51f18a27ff0e"
            ]
        ]
    },
    {
        "id": "465cc9dca7d7c889",
        "type": "ui_gauge",
        "z": "94f47cb54d729cc7",
        "name": "",
        "group": "49a80110ba38995f",
        "order": 25,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 510,
        "y": 420,
        "wires": []
    },
    {
        "id": "c14f0515bc59f4f5",
        "type": "ui_spacer",
        "z": "94f47cb54d729cc7",
        "name": "spacer",
        "group": "49a80110ba38995f",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "3bcfeccd9480183e",
        "type": "ui_spacer",
        "z": "94f47cb54d729cc7",
        "name": "spacer",
        "group": "49a80110ba38995f",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "edd9719c725621fc",
        "type": "ui_spacer",
        "z": "94f47cb54d729cc7",
        "name": "spacer",
        "group": "49a80110ba38995f",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "2ae426b771b4f245",
        "type": "ui_spacer",
        "z": "94f47cb54d729cc7",
        "name": "spacer",
        "group": "49a80110ba38995f",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "26bfed2a5c119769",
        "type": "ui_spacer",
        "z": "94f47cb54d729cc7",
        "name": "spacer",
        "group": "49a80110ba38995f",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "97e5ff47ef8b20f8",
        "type": "ui_spacer",
        "z": "94f47cb54d729cc7",
        "name": "spacer",
        "group": "49a80110ba38995f",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "8e70c5b033c08654",
        "type": "ui_spacer",
        "z": "94f47cb54d729cc7",
        "name": "spacer",
        "group": "49a80110ba38995f",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "c0d6343575b46979",
        "type": "ui_spacer",
        "z": "94f47cb54d729cc7",
        "name": "spacer",
        "group": "49a80110ba38995f",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "c8191fbd09495ab1",
        "type": "ui_spacer",
        "z": "94f47cb54d729cc7",
        "name": "spacer",
        "group": "49a80110ba38995f",
        "order": 14,
        "width": 14,
        "height": 1
    },
    {
        "id": "0ff1cc1dc5505f19",
        "type": "ui_spacer",
        "z": "94f47cb54d729cc7",
        "name": "spacer",
        "group": "49a80110ba38995f",
        "order": 15,
        "width": 14,
        "height": 1
    },
    {
        "id": "b8abdeb9a02ce7b8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "49a80110ba38995f",
        "type": "ui_group",
        "name": "Default",
        "tab": "9c56942c1aec8846",
        "order": 1,
        "disp": true,
        "width": "14",
        "collapse": false
    },
    {
        "id": "9c56942c1aec8846",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
